.jumb {
    height: 500px;
    width: 100%;
    background-image: url(../../../public/img/molisana-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}